.list-container {
    margin: 0 20px;
    background-color: rgba(255, 255, 255, 0.6);
}

.album-title {
    display: flex;
    justify-content:space-between;
    font-size: 1em;
    font-weight: bold;
    font-family: Arial;
    margin: 0;
    padding: 30px 20px 0 30px;
}

.item {
    display: flex;
    padding: 20px 20px 20px 30px;
}

.item1 {
    width: 10%;
}

.item2 {
    width: 70%;
}

.item3 {
    display: flex;
    justify-content: space-between;
    width: 20%;
    align-items: center;
}

.delete-item {
    font-size: 22px;
    display: flex;
    justify-content: center;
    background-color: #e7141400;
    color: #4d4d4dc0;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    border: none;
}

.delete-item:hover {
    color: #e71414c0;
    border: none;
}

.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: #FFFFFF;
    font-family: Arial;
    width: 250px;
    height: 50px;
    background-color: #0464b3;
    font-size: 1em;
 }
 
.add-button:hover {
    border-radius: 50px;
    cursor: pointer;
    color: #FFFFFF;
    width: 250px;
    height: 50px;
    background-color: #044c88;
 }

.search-container {
    padding: 10px 20px 10px 20px;
    margin: 0 20px 0 20px;
    background-color: rgba(255, 255, 255, 0.6);
}

.search-bar-container {
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
 }

 .search-bar {
    border: none;
    padding-left: 20px;
    margin-right: 10px;
    width: 70%;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #ffffff00;
}

.search-bar:hover {
	border: 1px solid #0464b3c5	;
}

.search-title {
    font-size: 15px;
    font-weight: normal;
    margin: 10px;
    color: gray;
}