.add-list-container {
    margin: 0 20px;
    background-color: rgba(255, 255, 255, 0.6);
}

.add-list-title {
    font-size: 2em;
    font-weight: normal;
    font-family: Arial;
    margin: 0;
}

.button-blue {
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: #FFFFFF;
    font-family: Arial;
    width: 200px;
    height: 50px;
    background-color: #0464b3;
}

.button-blue:hover {
   border-radius: 20px;
   cursor: pointer;
   color: #FFFFFF;
   width: 200px;
   height: 50px;
   background-color: #044c88;
}

.button-red {
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: #FFFFFF;
    font-family: Arial;
    width: 200px;
    height: 50px;
    background-color: red;
 }
 

 .button-red:hover {
    border-radius: 20px;
    cursor: pointer;
    color: #FFFFFF;
    width: 200px;
    height: 50px;
    background-color: rgb(212, 16, 16);
 }